body {
    margin: 0;
    font-size: 17px;
}
a {
    text-decoration: none;  /*Dette er for at det ikke skal være linjer under lenkene*/
}
/*carousel*/
.carousel{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin-top: -50px; /*Dette er fra høyden på header. Dette er for å få bildet opp*/
    position: relative;
}
/*Gjenstandene som er inne i carousel*/
.carousel .list .item{
    position: absolute; /*Dette er for å få bildene over hverandre*/
    inset: 0 0 0 0; /*Inset er forkortelse for top, bottom, left og right*/
}
.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.carousel .list .item .content{
    position:absolute;
    top: 20%;
    width: 1140px;  /*For store skjermer*/
    max-width: 80%; /*For mindre skjermer*/
    left: 50%;
    transform: translateX(-50%); /*For å sentrere elementet*/
    padding-right: 30%; /*For å gjøre elementet mindre*/
    box-sizing: border-box; /*For å ikke forandre lengden på elementet*/
    color: white;
    text-shadow: 0 5px 10px #0004; /*For å få teksten til å poppe ut*/
}
.carousel .list .item .content .author{
    font-weight: bold; /*Få sriften mer tykk. Dette er bold*/
    letter-spacing: 10px; /*avstanden for teksten*/
}
/*Title*/
.carousel .list .item .content .title,
.carousel .list .item .content .topic{
    font-weight: bold;
    font-size: 5em;  /*Størrelse på text*/
    list-style: 1.3em; /*avstanden mellom teksten. Som på word. eks 1,5.*/
}
/*Gi farge for å få den til å poppe ut mer*/
.carousel .list .item .content .topic{
    color: #5abcf8;
}
/*Knapp*/
.carousel .list .item .content .buttons{
    display:grid;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;  /*Høyden på knappen*/
}
.carousel .list .item .content button{
    border: none;
    background-color: white;
    letter-spacing: 3px;
    font-family: Poppins;
    font-weight: 500;
}
.carousel .list .item .content button:nth-child(1){
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
/*thumbnail*/
.thumbnail{
    position: absolute;  /*absolute for å flytte på den*/
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px; /*Distansen på gjenstandene*/
}
/*arrows*/
.arrows{
    position: absolute; /*For å flytte posisjon bruker vi absolute*/
    top: 80%;
    right: 130%;
    width: 300px;
    max-width: 80%;
    display: flex; /*Flex er for at begge knappene skal være på en rad*/
    gap: 10px; /*distansen på knappene*/
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%; /*For å lage sirkelen rundt knappene. At de ikke skal være triangulære eller kvadratiske*/
    background-color: #eee4;
    border: none;
    font-family: monospace;
    color: white;
    font-weight: bold; /*Bold bruker jeg for å gjøre pilene mer tykke*/
    font-size: large; /*størrelsen på pilene*/
    transition: .5s; /*Når vi lar musen over pilene, vil det */
}
.arrows button:hover{
    background-color: white;
    color: #555;
}
/*Dette er for det første bildet skal alltid være først*/
.carousel .list .item:nth-child(1){
    z-index: 1;
}
/*1 står for første gruppe, fordi jeg har tre forskjellige gruppen i en.*/
.carousel .list .item:nth-child(1) .author,
.carousel .list .item:nth-child(1) .title,
.carousel .list .item:nth-child(1) .topic,
.carousel .list .item:nth-child(1) .buttons{
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}
@keyframes showContent{
    to{
        opacity: 1;
        filter: blur(0);
        transform: translateY(0); /*For å få innholdet til å komme frem igjen. Først er teksten ikke der, og da kommer den frem*/
    }
}
/*Dette er hvor lang tid hver element bruker for å komme frem*/
.carousel .list .item:nth-child(1) .title{
    animation-delay: 1.2s;
}
.carousel .list .item:nth-child(1) .topic{
    animation-delay: 1.4s;
}
.carousel .list .item:nth-child(1) .buttons{
    animation-delay: 1.6s;
}
/*Dette er når man trykker på knappen, og da flytter bildene seg. Først kommer det ene bildet, og da det andre*/
.carousel.next .list .item:nth-child(1) img{
    width: 150px;
    height: 220px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage 0.5s linear 1 forwards; /*animasjonen heter showImage*/
}
@keyframes showImage{  /*Dette er for å få bildet tilbake i sin originale form*/
    to{
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
} /*Den som ser på bildet, kommer til å få følelsen av at bildet blit større. At det kommer frem*/
.carousel.next .thumbnail .item:nth-child(1){
    width:0;
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}
@keyframes showThumbnail{
    to{
        width: 150px;  /*Får bildet til å ha sin originale lengde*/
    }
}
.carousel.next .thumbnail{
    transform: translateX(150px); /*Dette er når brukeren trykker på knappen, da vil det gå til venstre*/
    animation: transformThumbnail .5s linear 1 forwards; /*Få den tilbake*/
}
@keyframes transformThumbnail{
    to{
        transform: translateX(0);
    }
}
/*Knapp for frem og tibake. 2 for andre gruppe i .carousel*/
.carousel.prev .list .item:nth-child(2){
    z-index: 2;
}
.carousel.prev .list .item:nth-child(2) img{
    position:absolute;
    bottom:0;
    left:0;
    animation:outImage 0.5s linear 1 forwards;
}
@keyframes outImage{
    to{
        width: 150px;
        height: 220px;
        border-radius: 20px;
        left: 50%;
        bottom: 50px;
    }
}
.carousel.prev .thumbnail .item:nth-child(1){
    width:0;
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail 0.5s linear 1 forwards;
}
.carousel.prev .thumbnail .item:nth-child(2) .author,
.carousel.prev .thumbnail .item:nth-child(2) .title,
.carousel.prev .thumbnail .item:nth-child(2) .topic,
.carousel.prev .thumbnail .item:nth-child(2) .buttons{
    animation: contentOut 1.5s linear 1 forwards;
}
@keyframes contentOut{
    to{
        transform: translateX(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}
.carousel.next .arrows button,
.carousel.next .arrows button{
    pointer-events: none;
}