body{background: none;}

  #background-img-data{
    background:url("../Bilder/AI.jpeg") no-repeat center;
    height:500px;
  }
  #background-img-lyn{

    background:url("../Bilder/lynet.svg") no-repeat center;
    height:2500px;
    
  }

  
  #bakgrunn-wrap{
    width:100%;
  
    
  }
  #main-footer{margin: 0;}
  #page-wrap{
    padding:0;
    position: absolute;
    top:600px;
    
    
  }
  
  
/******************************\
     Grid første seksjon
\******************************/

section#section1-grid{
    display: grid;
    grid-template-rows: repeat(16,minmax(100px,1fr)) ;
    /*grid-template-columns: repeat(auto-fit,minmax(200px,1fr));*/
    grid-template-columns: 1fr repeat(4,minmax(50px,2fr)) 1fr;
    
    
    
  }
  
  #section1-grid>a, #section1-grid>p  {
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    
    
  }
  #section1-grid>h1{
    
    grid-row:1/2 ;
    grid-column:1/2 ;
    /*background-color: black;*/
    
  }
  #section1-grid>p{
   /* grid-row:1/2 ;
    grid-column:1/2 ;
    background-color: black;*/
    
    color:rgb(228, 215, 215);
    font-size: 1.5rem;
    font-weight: bold;
    transform: rotate(30deg);
    background-color: rgba(78, 50, 29, 0.7);
    
  }
  
  #link1{
    grid-row:1/3 ;
    grid-column:1/3 ;
    grid-area: 2/2/5/4;
  }
  #link2{
    
    grid-area: 4/4/7/6;
  }
  #link3{
    grid-area: 9/2/12/4;
    transform: rotate(-5deg);
  }
  #link4{
    grid-area: 13/4/-2/6;
    transform: translate(-100px, -100px) rotate(10deg);
    
  }
  

  /******************************\
   *     Grid andre seksjon      *
  \******************************/
  section#section2-grid{
    display: grid;
    grid-template-rows: repeat(5,1fr) ;
    grid-template-columns: repeat(4,1fr);
    column-gap: 50px;
    row-gap: 25px;
    
  }

  #section2-grid>a{
    box-sizing: border-box;
    border: 5px solid orange;
    background-color:rgb(240, 142, 15);
    border-radius: 10px;
    text-align: center;
    
    
  }
  #section2-grid>h1{
    
    grid-row:1/2 ;
    grid-column:1/3 ;
    /*background-color: black;*/
    
  }
  #section2-grid>p{
    grid-row:1/2 ;
    grid-column:3/5 ;
    /*background-color: black;*/
    
  }
  
  #link5{
    grid-row:2/4 ;
    grid-column:1/3 ;
    grid-area: 2/1/4/3;
  }
  #link6{
    
    grid-area: 2/3/4/5;
  }
  #link7{
    grid-area: 4/1/6/3;
  }
  #link8{
    grid-area: 4/3/6/5;
  }
  #section2-grid>a>.image-link{
    
    display: none;
    
  }