
/************************************************\
 *   Page-wrapper holder innholdet på siden     *
 *   sentrert og med max width                  *
\************************************************/


  @media (min-width: 950px) {
    #page-wrap{ 
       max-width: 1000px;
       margin: auto;
       position: relative;
       left: 0;
       right: 0;
       border: 3px solid #777;
    }
  }


  @media (min-width: 600px) {
  /*******************************************\
   *     Seksjonene - innholdet på siden     *
  \*******************************************/
  
  .section-wrap{
   /*
        section wrap er med 
        på å plassere sidestolpen
                                     */
    width:66%;
    margin-left: 3%;
    float:left;
}
section{
    border: 2px solid coral;
}

  /*******************************************\
   *     Aside - vil være sidestolpe når     *
   *     det er plass på skjermen            *
  \*******************************************/
 aside{
    border: 2px solid coral;
    width:25%;
    margin:0 3% ;
    float:right;
    padding: 0 .5em;
    
}
#page-wrap::after{
    content: "";
    display: table;
    clear: both;
}
} /*Media query ferdig*/

/******************\
 *     Footer     *
\******************/
footer{
    position: relative;
    margin-top: 10rem;
    background-color: #ddd;
    padding: 5em ;
}