 


/******************************\
     Grid første seksjon
\******************************/

:root{ 
  --bakgrunnsfarge-text-bilde-bakgrunn: #ABDEE6;
  --bakgrunnsfarge-text-bilde-bakgrunn2: #E6B3AB;
  --textfarge-til-bakgrunnsfargen:black;
  --skygge-svart-farge:rgba(0, 0, 0, 0.7);
  --text-bakgrunnsfarge-til-kode-text:#ddd;
  /*
  Helvetica 20px for paragrafer
  35px for overskrifter
  */
  
 
}

section#section1-grid{
    display: grid;
    grid-template-rows: repeat(15, 1fr) ;
    

    /*grid-template-columns: repeat(auto-fit,minmax(200px,1fr));*/
    grid-template-columns: repeat(4,minmax(100px,1fr));
    

    column-gap: 50px;

    /*PRøver med height 
    Height:500px;
  */
  }
  
 

  /*
  Struktur: 
  #text1.text
  #bilde1.bilde-bokser
  #text-og-bilde1-bakgrunn.tekst-og-bildeboks
  
  */

  /*Felles justeringer*/

  figure{
  
z-index:2;}

  .tekst-og-bildeboks{
    background-color: aqua;
    background-color: var( --bakgrunnsfarge-text-bilde-bakgrunn);
    
    
    z-index: 1;
  
  }
  .text p, .text h3{
    color:var(--textfarge-til-bakgrunnsfargen);

  }
  #section1-grid figure>img{

    width:100%;
    align-self: center;
  }

  .text{
    z-index: 2;
    padding: 0 1.5rem;
    
  }
  

  /* Første bilde tekst bildeboks kombo*/

  #text-og-bilde1-bakgrunn{
       

    grid-area: 1/1/5/-1;

  }

  #text1{
    grid-area: 1/1/5/4;
    
    padding: 0 2rem 2rem 1.5rem;
  }
  

  #text1 .kode-i-tekst{ 
    background-color:var(--text-bakgrunnsfarge-til-kode-text);

    
  } 
  

  #bilde1{
    grid-area: 1/4/3/5;
    display:flex;
    
  }

  #bilde1>img{
    width:100%;
    align-self: center;
    
  }
    /* Andre bilde tekst bildeboks kombo*/
  #text-og-bilde2-bakgrunn{
    z-index: 1;
    grid-area: 6/1/11/-1;
  }
  #text2-header{
    z-index: 3;
    grid-area: 6/1/7/5;
  }
  #text2{
    grid-area: 7/1/11/3;
  }
  #text2 .kode-i-tekst{
    background-color: #ddd;
  }
  #bilde2{
    position: relative;
    text-align: center;
    display: flex;
    grid-area: 7/3/11/5;
    
    z-index: 2;
    
  }
  
   
  #bilde2>figcaption{
    position: absolute;
    display: block;
    top:15%;
    
    background-color:var(--bakgrunnsfarge-text-bilde-bakgrunn2);
    z-index: 6;
    
    
  }
  
  
    /* Tredje bilde tekst bildeboks kombo*/
   
 /* Andre bilde tekst bildeboks kombo*/
 #text-og-bilde3-bakgrunn{
  z-index: 1;
  grid-area: 12/1/16/-1;
}
#text3{
  grid-area: 12/1/16/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#text3 .kode-i-tekst{
  background-color: #ddd;
}
#bilde3{
  position: relative;
  text-align: center;
  display: flex;
  grid-area: 12/3/16/5;
  
  z-index: 2;
  
}

 
#bilde3>figcaption{
  color:lightblue;
  position: absolute;
  align-self: center;
  padding-left: 2rem;
  z-index: 6;
  
  
}

#bilde3>img{
  
  width: 100%;
  align-self: center;
  
  
}

  /******************************\
   *     Grid andre seksjon      *
  \******************************/
  section#section2-grid{
    margin-top:5rem;
    display: grid;
    grid-template-rows: repeat(5,1fr) ;
    /*grid-template-columns: repeat(auto-fit,minmax(200px,1fr));*/
    grid-template-columns: repeat(7,minmax(50px,1fr));
    border: 2px solid red;
    column-gap: 50px;
    row-gap: 25px;
    
  }


   /* Fjerde bilde tekst bildeboks kombo*/
   /* har kun tekst*/

   #text-og-bilde4-bakgrunn{
    
    grid-area: 1/1/4/-1;
    background-color: blanchedalmond;
    
  }
  #text4{
    display: flex;
    flex-direction: column;
    justify-content: center;

        grid-area: 1/1/4/4;
  }
  
  #bilde4{
    grid-area: 1/4/4/-1;
    display: flex;
  }
  #bilde4>img{
width: 100%;
align-self: center;
  }
   /* Femte bilde tekst bildeboks kombo*/

   #text-og-bilde5-bakgrunn{
    
    grid-area: 4/1/6/-1;
    background-color: blanchedalmond;
    z-index: inherit;
  }

  #text5{
    grid-area: 4/1/6/4;
    
  }
  /*Linkboks for fire linker */
  #link-box{
    grid-area:  4/4/6/7;
    
    z-index: 1;
  }