/******************************\
     Bakgrunns bilde
\******************************/
:root{
  --bakgrunnsfarge-tema-markør:#ABDEE6;
  --tema-markør-oransje:#0074be;
}
#bakgrunnsbildet{
    background:url("../Bilder/Topbilde2-skalert2.png") no-repeat center;
    height:500px;
  }
/******************************\
     Justering pageWrap
\******************************/
  @media (min-width: 900px) {
  
  #page-wrap{
max-width: 1300px;;
  }
}
/******************************\
     Tema markør
\******************************/
  #temamarkør{
     background-color: var(--bakgrunnsfarge-tema-markør);
     position: relative;
     height:150px;
     text-align: center;
     padding-top:50px;
     color:var(--tema-markør-oransje);
     }
     #temamarkør>figure{
       margin-top:0;
       position: absolute;
       top:-150px;
     }
     /*************************\
       Til neste side linken
     \*************************/
#link1 figcaption{ 
  background-color: rgba(255, 255, 255, 0.7);
  

}


/******************************\
     Linkboks for fire linker 
\******************************/

  #link-box>ul{
    
    box-sizing: border-box;
    margin:0; padding:0;
    
    display: flex;

    justify-content: space-evenly;
    flex-direction: column;
    
    height:100%;
    list-style: none;


  }
  #link-box>ul>li>a{
  
  background-color:var(--skygge-svart-farge);
  
  cursor:pointer;  
  z-index: 1;
  transition: all 200ms ease;
  }
  #link-box>ul>li>a:hover{
    transform:translateY(2px) translateX(-2px);
}

  #link-box>ul>li>a::after{
  box-sizing: border-box;
  content: "_";
  display:block;
  background-color: var(--bakgrunnsfarge-text-bilde-bakgrunn) ;
  padding-left:2rem;
  
  
  transition: all 200ms ease;

}



#link-box>ul>li:nth-of-type(1)>a:after{content:"HTML 1 Tagger";}
#link-box>ul>li:nth-of-type(2)>a:after{content:"HTML 2 Bilder";}
#link-box>ul>li:nth-of-type(3)>a:after{content:"HTML 3 prosessen";}
#link-box>ul>li:nth-of-type(4)>a:after{content:"CSS 1 Bruk farger";}
#link-box>ul>li:nth-of-type(5)>a:after{content:"CSS 2 Endre plasseringer";}

#link-box>ul>li>a:hover::after{
transform:translateY(-4px) translateX(4px);
    
color:blue;
}

  #link-box a{
    font-size: 1.5rem;
    line-height: 4rem;
    display: block;

  }

  #link-box a:hover{
  }
  
   
/****************************\
  Små skjermer
\******************************/
@media(max-width:1400px){

  section:nth-child(odd){
    
    background-color:#E6B3AB;
  }
  section:nth-child(even){
    background-color: #ABDEE6;
  }
}
