 


/******************************\
     Grid første seksjon
\******************************/

:root{ 
  --bakgrunnsfarge-text-bilde-bakgrunn: #ABDEE6;
  --bakgrunnsfarge-text-bilde-bakgrunn2: #E6B3AB;
  --textfarge-til-bakgrunnsfargen:black;
  --skygge-svart-farge:rgba(0, 0, 0, 0.7);
  --text-bakgrunnsfarge-til-kode-text:#ddd;
  /*
  Helvetica 20px for paragrafer
  35px for overskrifter
  */
  font-size: 20px;
 
}

section#section1-grid{
    display: grid;
    grid-template-rows:1fr 1fr 5rem 250px;
    

    /*grid-template-columns: repeat(auto-fit,minmax(200px,1fr));*/
    grid-template-columns: repeat(4,minmax(100px,1fr));
    

    column-gap: 50px;
    row-gap: 25px;

    /*PRøver med height 
    Height:500px;
  */
  }
  
 

  /*
  Struktur: 
  #text1.text
  #bilde1.bilde-bokser
  #text-og-bilde1-bakgrunn.tekst-og-bildeboks
  
  */

  /*Felles justeringer*/

  figure{
  
z-index:2;}

  .tekst-og-bildeboks{
    background-color: aqua;
    background-color: var( --bakgrunnsfarge-text-bilde-bakgrunn);
    
    
    z-index: 1;
  
  }
  .text p, .text h3{
    color:var(--textfarge-til-bakgrunnsfargen);

  }
  #section1-grid figure>img{

    width:100%;
    align-self: center;
  }

  .text{
    z-index: 2;
    padding: 0 1.5rem;
    
  }

  /* Første bilde tekst bildeboks kombo*/

  #text-og-bilde1-bakgrunn{
    
    grid-row:2/4 ;
    grid-column:1/3 ;
       

    grid-area: 1/1/2/-1;

  }

  #text1{
    grid-area: 1/1/2/4;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 2rem 2rem 1.5rem;
  }
  #text1>p{
    
  }

  #text1 .kode-i-tekst{ 
    background-color:var(--text-bakgrunnsfarge-til-kode-text);

    
  } 
  #text1 a{
   /*Link i første avsnitt*/
  
  }


  #bilde1{
    grid-area: 1/4/2/5;
    display:flex;
    
  }
  #bilde1>img{
    width:100%;
    align-self: center;
    
  }
    /* Andre bilde tekst bildeboks kombo*/
  #text-og-bilde2-bakgrunn{
    
    grid-area: 2/1/3/-1;
  }
  #text2{
    grid-area: 2/3/3/5;
  }
  #text2 .kode-i-text{
    background-color: #ddd;
  }
  #bilde2{
    text-align: center;
    
    grid-area: 2/1/3/3;
    display: flex;
    

  }
  #bilde2>img{
    align-self: center;
  }
    /* Tredje bilde tekst bildeboks kombo*/

    /* bildeboks 3 har link i stedet for bilde */
    /*
      
      
    */
   

    
    
  #text-og-bilde3-bakgrunn{
    grid-area: 3/2/5/4;
    background-color: var(--bakgrunnsfarge-text-bilde-bakgrunn2);
    
    border-radius:15px;
  
  }
  #text3{
    grid-area: 3/2/4/4;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
   
  }


 /*
 link1-figure
 */
 
 /*link1 er a ***********/
 #link1{
    border-radius: 10px;
    padding: 0 2em 2rem 2em;

    grid-area: 4/2/5/-2;
    z-index: 6;
    color:transparent;
    
    text-decoration: none;
    
    
  }
  
  #link1-figure{
    height: 100%; 
    width:100%;
    margin:0;
    position: relative;
    transition: all 200ms ease;
  
  }
  

  #link1-figure:hover{
    transform:translateY(-4px) translateX(4px);
  }

  #link1-figure::before{
    content: "-";
    background-color: var(--skygge-svart-farge);
    
    display: block;
    height:100%;
    width:100%;
    transition: all 200ms ease;
    
    

  }
  #link1-figure:hover::before{
    transform:translateY(8px) translateX(-8px);
  }

  /*
  
**********
*********

  
  */
  #link1-figure>figcaption{
    position: absolute;
    top:0;
    color:rgb(34, 90, 163);
    text-decoration: underline;
    font-size: 1.5rem;
    

  }
  #link1-figure>img{ 
    position: absolute;
    top:0;
    height: 100%;
    width:100%;
  }
  
   

  /******************************\
   *     Grid andre seksjon      *
  \******************************/
  section#section2-grid{
    margin-top:5rem;
    display: grid;
    grid-template-rows: repeat(5,1fr) ;
    /*grid-template-columns: repeat(auto-fit,minmax(200px,1fr));*/
    grid-template-columns: repeat(7,minmax(50px,1fr));
    border: 2px solid red;
    column-gap: 50px;
    row-gap: 25px;
    
  }


   /* Fjerde bilde tekst bildeboks kombo*/

   #text-og-bilde4-bakgrunn{
    
    grid-area: 1/1/2/-1;
    background-color: blanchedalmond;
    
  }
  #text4{
    grid-area: 1/1/2/4;
  }
  #bilde4{
    grid-area:  1/4/2/6;
  }
  #bilde4>img{ 

  }

  
   /* Femte bilde tekst bildeboks kombo*/

   #text-og-bilde5-bakgrunn{
    
    grid-area: 2/1/3/-1;
    background-color: blanchedalmond;
    z-index: inherit;
  }

  #text5{
    grid-area: 2/1/3/4;
    
  }
  /*Linkboks for fire linker */
  #link-box{
    grid-area:  2/4/3/7;
    
    z-index: 1;
  }
  #link-box>ul{
    
    box-sizing: border-box;
    margin:0; padding:0;
    
    display: flex;

    justify-content: space-evenly;
    flex-direction: column;
    
    height:100%;
    list-style: none;


  }
  #link-box>ul>li>a{
  
  background-color:var(--skygge-svart-farge);
  
  cursor:pointer;  
  z-index: 1;
  transition: all 200ms ease;
  }
  #link-box>ul>li>a:hover{
    transform:translateY(2px) translateX(-2px);
}

  #link-box>ul>li>a::after{
  box-sizing: border-box;
  content: "_";
  display:block;
  background-color: var(--bakgrunnsfarge-text-bilde-bakgrunn) ;
  
  
  transition: all 200ms ease;

}



#link-box>ul>li:nth-of-type(1)>a:after{content:"linker1";}
#link-box>ul>li:nth-of-type(2)>a:after{content:"linker2";}
#link-box>ul>li:nth-of-type(3)>a:after{content:"linker3";}
#link-box>ul>li:nth-of-type(4)>a:after{content:"linker4";}
#link-box>ul>li:nth-of-type(5)>a:after{content:"linker5";}

#link-box>ul>li>a:hover::after{
transform:translateY(-4px) translateX(4px);
    
color:blue;
}

  #link-box a{
    font-size: 1.5rem;
    line-height: 4rem;
    display: block;

  }

  #link-box a:hover{
  }
  
  