

body{
  font-size: 20px;
  font-family: verdana, sans-serif; 
}
h1{
  font-family: Georgia, serif;
  font-size: 50px;
}
h2{
  font-family: Georgia, serif;
  font-size: 24px;
}

p{
  margin: 0;
}

figure {
  magin: 0px;
}
/******************************\
     Grid første seksjon
\******************************/
section#section1-grid{
    display: grid;
    grid-template-rows:repeat(20,minmax(35px,0.1fr)) ;
    

    /*grid-template-columns: repeat(auto-fit,minmax(200px,1fr));*/
    grid-template-columns: repeat(15,minmax(25px,0.2fr));

    column-gap: 25px;
    row-gap: 35px;
    
  }
  
  #tidligere-a{
    box-sizing: border-box;
    border-radius: 10px; 
  }
  #section1-grid>h1{
    
    grid-row:1/2 ;
    grid-column:1/3 ;
    
  }
  #section1-grid>p{
    grid-row:1/2 ;
    grid-column:3/5 ;
    /*background-color: black;*/
    
  }
  /*
  Struktur: 
  #text1.text
  #bilde1.bilde-bokser
  #text-og-bilde1-bakgrunn.tekst-og-bildeboks
  
  */

  /*Felles justeringer*/
.bilde-bokser{
  z-index:2;
}
  .tekst-og-bildeboks{
    background-color: rgba(216, 216, 216, 0.84);
    z-index: 1;
    box-shadow: 2px 2px 2px black;
  }
  .text{
    z-index: 2;
    
  }
  .stor_overskrift{
    z-index: 2;
  
  }


.personas-list-items{
  margin: 0;
}

  /* Første bilde tekst bildeboks kombo*/

  #text-og-bilde1-bakgrunn{
    grid-area:1/2/12/11;
  } 


  #stor_overskrift1{
    margin-left: 15px;
    grid-area: 1/-1/2/2;
  }
  #text1-header{
    margin-left: 15px;
    margin-right: 0px;
  }

  #text1{
    grid-area:2/2/5/6;

  }
  
  #bilde1{
    width: 300px;
    height: 100%;
    grid-area: 6/2/10/5;
  }

  #bilde1>img{width: 100%;}
    /* Andre bilde tekst bildeboks kombo*/
  #text-og-bilde2-bakgrunn{
    grid-area: 1/11/7/15;
  }
  #text2{
    grid-area: 1/6/5/11;
    padding: 5px;
  }
  #bilde2{
    text-align: center;
    grid-area: 9/9/9/9;
  }
    /* Tredje bilde tekst bildeboks kombo*/
  #text-og-bilde3-bakgrunn{
    width: 0.5fr;
    height: 0.1fr;
    border: 1px solid black;
    grid-area: 7/11/12/15;
  }

  #text3_h2{
    margin-left: 15px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  #text3{
    margin-top: 15px;
    grid-area: 1/11/2/15;
  }

  #text3_h4{
    margin-top: 0;
    margin-bottom: 0;
  }
  #bilde3{ 
    grid-area: 9/9/9/9;
  }
    /* Fjerde bilde tekst bildeboks kombo*/
  #text-og-bilde4-bakgrunn{
    grid-area: 12/2/16/15;
  }
  #text4{
    padding-left: 20px;
    z-index: 4;
    height: 300px;
    width: 100%;
    grid-area: 12/2/16/14;
  }
  #bilde4{
    grid-area: 8/2/10/15;
  }
  .image-link{
  }

  #text-og-bilde5-bakgrunn{
    grid-area: 16/2/21/15;
  }

  #text5{
    padding-left: 20px;
    grid-area: 16/2/21/14;
  }

  #text6 {
    grid-area: 6/6/11/11;
  }
  #link1{
    margin-left: 30px;
  }


/******************************\
   IA
\******************************/

/******************************\
     Grid første seksjon
\******************************/

section#section1-grid-IA{
  display: grid;
  grid-template-rows:repeat(14,minmax(40px,0.1fr)) ;

  /*grid-template-columns: repeat(auto-fit,minmax(200px,1fr));*/
  grid-template-columns: repeat(15,minmax(25px,0.2fr));

  column-gap: 25px;
  row-gap: 25px;

}
/******************************\
\******************************/
  #Informasjonsarkitektur-IA{
    margin-left: 20px;
    grid-area: 1/2/8/11;
    margin-right: 20px;
  }

  #Overskrift-IA{
    grid-area: 1/2/8/10;
  }

  #text-og-bilde1-bakgrunn-IA{
  grid-area: 1/2/7/11;
  }

  #text-og-bilde2-bakgrunn-IA{
  grid-area: 1/11/7/15;
  }

  #text2-IA{
    padding-left: 20px;
    padding-right: 20px;
    grid-area: 1/11/7/15;
  }
/******************************\
\******************************/
#text-og-bilde3-bakgrunn-IA{
  grid-area: 7/2/11/15;
}

#text3-IA{
  padding-left: 20px;
  padding-right: 20px;
  grid-area: 7/2/11/15;
}

/******************************\
\******************************/

#text-og-bilde4-bakgrunn-IA{
  grid-area: 11/2/15/15;
}

#text4-IA{
  padding-left: 20px;
  grid-area: 11/2/15/15;
}
/******************************\
\******************************/



