:root{
    --background-color-text-og-bilde1-bakgrund: #195B69;
}
/* Turn the white text color to black when the screen
goes smaller then 1000px, which is the breakpoint where the css styling stops*/
@media (max-width: 1000px) {
    body{
        color: black
    }
}

body{
    font-size: 20px;
    font-family: vardana, sans serif;
    color:white;
}
h1{
    font-family: Georgia, serif;
    font-size: 50px;
    margin: 0px;
}
h2{
    font-family: Georgia, serif;
    font-size: 24px;
}

#language-info{
    margin: 0px;
    font-size: 14px;
}
/* Begrunnelser
"For secondary text – like lesser labels, captions,
etc. – use a size a couple notches smaller – such as 13px or 14px."
https://www.learnui.design/blog/mobile-desktop-website-font-size-guidelines.html
 */

#background-image {
 /*   background-image: url("../Bilder/SystemeutvecklingsMetodik_Bilder/HeaderSystemMetodik.png");
    padding-bottom: 500px; */
}
/******************************\
     Grid første seksjon
\******************************/
section#section1-grid{
    display: grid;
    grid-template-rows:repeat(15,0.2fr) ;


    /*grid-template-columns: repeat(auto-fit,minmax(200px,1fr));*/
    grid-template-columns: repeat(15,minmax(25px,0.2fr));
    border: 2px solid red;

    column-gap: 25px;
    row-gap: 25px;

}

#tidligere-a{
    box-sizing: border-box;
    border: 5px solid orange;
    background-color:rgb(18, 219, 48);
    border-radius: 10px;
}
#section1-grid>h1{

    grid-row:1/2 ;
    grid-column:1/3 ;

}
#section1-grid>p{
    grid-row:1/2 ;
    grid-column:3/5 ;
    /*background-color: black;*/

}
/*
Struktur:
#text1.text
#bilde1.bilde-bokser
#text-og-bilde1-bakgrunn.tekst-og-bildeboks

*/

/*Felles justeringer*/
.bilde-bokser{
    margin:0;
    background-color: green;
}

.texte-bokser{
}

figure{
    z-index:2;
}
.tekst-og-bildeboks{
    z-index: 1;
}
.text{
    z-index: 2;

}

figure {
    margin: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/* Første bilde tekst bildeboks kombo*/

#text-og-bilde1-bakgrunn{
    background-color: var(--background-color-text-og-bilde1-bakgrund);
    grid-row: 1/-10;
    grid-column: 1/16;
    grid-area: 1/1/6/16;
}
#language-info{
    margin-left: 15px;
    grid-area: 1/1/1/16;
}

#text1{
    margin: 35px;
    width: 1.5fr;
    grid-area: 2/2/6/9;
}
#bilde1{
    align-content: center;
    max-width: 100%;
    grid-area: 1/9/6/15;
}

/* Andre bilde tekst bildeboks kombo*/
#text-og-bilde2-bakgrunn{

    grid-area: 9/9/9/9;
}
#text2, #text3, #text4{
    align-self: center;
    color: black;
}
#text2 {
    grid-area: 6/2/9/15;
}

#bilde2{
    text-align: center;

    grid-area: 9/2/14/6;

}
/* Tredje bilde tekst bildeboks kombo*/
#text-og-bilde3-bakgrunn{
    grid-area: 9/9/9/9;
}
#text3{
    grid-area: 14/2/14/7;
}
#bilde3{
    grid-area: 9/11/14/15;
}
/* Fjerde bilde tekst bildeboks kombo*/
#text-og-bilde4-bakgrunn{
    grid-area: 8/1/10/-1;
}
#text4{
    grid-area: 14/11/14/15;
}
#bilde4{
    grid-area: 13/3/15/5;
}
.image-link{

}



/******************************\
 *     Grid andre seksjon      *
\******************************/
section#section2-grid{
    display: grid;
    grid-template-rows: repeat(5,1fr) ;
    /*grid-template-columns: repeat(auto-fit,minmax(200px,1fr));*/
    grid-template-columns: repeat(4,minmax(100px,1fr));
    border: 2px solid red;
    column-gap: 50px;
    row-gap: 25px;

}

#section2-grid>a{
    box-sizing: border-box;
    border: 5px solid orange;
    background-color:rgb(240, 142, 15);
    border-radius: 10px;
    text-align: center;


}
#section2-grid>h1{

    grid-row:1/2 ;
    grid-column:1/3 ;
    /*background-color: black;*/

}
#section2-grid>p{
    grid-row:1/2 ;
    grid-column:3/5 ;
    /*background-color: black;*/

}

#link5{
    grid-row:2/4 ;
    grid-column:1/3 ;
    grid-area: 2/1/4/3;
}
#link6{

    grid-area: 2/3/4/5;
}
#link7{
    grid-area: 4/1/6/3;
}
#link8{
    grid-area: 4/3/6/5;
}
.image-link{


}

