/************************************\
 *     Etterligner en nettside     *
 *                                  *
\************************************/
body{margin:0;}
nav>ul{ 
    display: flex;
    list-style: none;
    padding:1rem;
    gap:1.5rem;
    background-color: blanchedalmond;
    text-align: center;
    
}

nav>ul>li>a{
    display: block;
    width: 8rem;
    text-decoration: none;
    padding: 1rem 0 .5rem 0 ;
    background-color: aqua;
    border:2px solid blue;
    border-radius: .3rem;
    
} 

footer{
    background-color: blanchedalmond;
    height: 15rem;
    padding: 3rem;
    text-align: center;

}
@media (max-width: 1250px) {
    /**********************************\
     *      Carusel for mobil         *
    \**********************************/
    :root{
        --bilde-bredde:500px;
        --bilde-wrap-høyde:400px;
    }
    #section-nr1{
        
        border: 1rem solid coral;
        max-width: var(--bilde-bredde);
        min-height: var(--bilde-wrap-høyde);
        position: relative;
        left:0;
        right: 0;
        margin: 0 auto;
        
        
    
    
    }
    .bilde-wrap{
        box-sizing: border-box;
        text-align: center;
        border:15px solid green;
        margin:0;
        min-width:var(--bilde-bredde);
        display: none;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
    }
    .bilde-wrap.synlig{
        display: block;
        opacity: 1;
    }
    #dots {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        background-color: #7c7777;
        
    }
    #dots>.dot {
          cursor: pointer;
          height: 10px;
          width: 10px;
          background-color: #242421;
          transition: background-color 0.2s ease;
        }    
        #dots>.dot.active,
        #dots>.dot:hover {
          background-color: #ffffe6;
        }


} /********** Mediaquery for mobil ferdig ****************/
@media (min-width: 1250px) {
/**********************************\
 *      Carusel for PC-skjerm     *
\**********************************/

   
  
:root{
    /* Bildebredde 500 + 2*14 border + 2*40 margin
                    500 + 28 + 80 =608
       */
    --bilde-wrap-bredde:608px;
    --bilde-wrap-bredde-3: calc(608 * 3px);

    --bilde-wrap-negativ-bredde:-608px;

    --bilde-wrap-høyde:calc(413px + 40px);
    --bilde-bredde:500px;
    
}
body{ 
    
    counter-reset: min-teller;
    /*overflow-x: hidden;*/
}
/*img{display: none;}*/
#section-nr1{
    border: 1rem solid coral;
    max-width: var(--bilde-wrap-bredde-3);
    height:var(--bilde-wrap-høyde) ;
    position: relative;
    left:0;
    right: 0;
    margin: 300px auto;
    


}
#carusel-wrap{
    
    display: flex;
    position: relative;
    /* 
         Skyver bildeserien en bildebredde til venstre
         For å plassere siste bildet i serien på til venstre
                                                                */
    left:var(--bilde-wrap-negativ-bredde);
    
    height:100%;
}
.bilde-wrap{
    text-align: center;
    border:15px solid green;
    
    position: relative;
    min-width:var(--bilde-bredde);
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.bilde-wrap.pc-synlig{
    display: block;
    opacity: 1;
}

/*****************\
 *     Slide     *
\*****************/
#carusel-wrap.slide-left{
    left: var(--bilde-wrap-negativ-bredde);
    left:calc(-608*2px);

}
#carusel-wrap.translate-right{
    transform: translateX(var( --bilde-wrap-bredde));
    

}
#carusel-wrap.remove-translate{
    
    transition: all 1000ms ease-out;
    transform: translateX(0);

}



}/********* Media query fedig ********/
figurecaption{display: block;}

/*******************\
 *     Buttons     *
\*******************/
.btn-wrap{
    border:3px solid green;
    width:16rem;
}
.btn-wrap> button{
    width:50%;

}